@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root {
    --main-color: #FFFFFF;
    --black-color: #000000;
    --blue-color: #6B84C4;
    --border: solid rgba(255, 255, 255, 0.4);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: o.2s ease;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    width: 8px;
    background-color: #FFFFFF;

}

html::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: lightgray;
}

body {
    background-color: var(--main-color);
}

section {
    padding: 3.5rem 7%;
}

.heading {
    color: #6B84C4;
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

/*! header start */
.header .logo img {
    height: 5rem;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #6B84C4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 0rem;
    border-radius: 0rem;
    position: sticky;
    top: 0%;
    z-index: 1000;

}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border-bottom: 0.1 solid transparent;
}

.header .navbar .active {
    color: #000000;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}

.header .navbar a:hover {
    border-color: var(--black-color);
    padding-bottom: 0.5rem;
}

.header .button button {
    cursor: pointer;
    font-size: 16px;
    margin-left: 2rem;
    background-color: transparent;
}

/*! header end */


/*! product start */

.product {
    min-height: 75vh;
    background: url(https://raw.githubusercontent.com/NoroffFEU/first-year-cross-course-assignment-brief-one/070b990270cc7b40f4dc28c26c2cb183d3d2905b/pictures.jpg/istockphoto-904172104-612x612.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.product .content {
    max-width: 60rem;
}

.product .content h4 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #000000;
    white-space: nowrap;
}

/*! product end */
/*! products start */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box {
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    min-width: 300px;
    padding: 1.5rem;
    margin: 3rem;
}

.product-img {
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-img img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    position: relative;
}

.product-details {
    margin-top: 3rem;
}

.heart-icon {
    position: absolute;
    top: -10px;
    right: 0px;
    color: black;
    font-size: 24px;
}

.products-details {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.products-details h3 {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.products-details .price {
    color: #2A55C4;
    font-size: 18px;
    margin: 0;

}

.see-more {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    color: #5A7AB9;
    padding: 5px 10px;
    transform: translateY(50%);
}

/*! products end */

section {
    padding: 80px 13% 70px;
}

.footer {
    background-color: #6B84C4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.footer-content ul {
    list-style: none;
    /* Noktaları kaldırır */
    padding: 0;
    /* Boşlukları kaldırır */
    margin: 0;
    /* Boşlukları kaldırır */
}

.footer-content h4 {
    color: #FFFFFF;
    margin-bottom: 1.5rem;
    font-size: 15px;
}

.footer-content li {
    margin-bottom: 14px;
}

.footer-content li a {
    display: inline-block;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: #FFFFFF;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Logo'yu dikeyde ve yatayda ortalar */
}

.footer-logo img {
    max-width: 100%;
    height: 60px;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

.header {
    padding: 1.5 2rem;
}

.header .logo img {
    height: 5rem;
}

section {
    padding: 2rem;
}

.product .box-container .box .img {
    font-size: 3.4px;
}


.header .navbar .active {
    right: 3rem;
}

.header .navbar .a {
    color: #FFFFFF;
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 2rem;

}