@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root {
    --main-color: #FFFFFF;
    --black-color: #000000;
    --blue-color: #6B84C4;
    --border: solid rgba(255, 255, 255, 0.4);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: o.2s ease;

}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    width: 8px;
    background-color: #FFFFFF;

}

html::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: lightgray;


}

body {
    background-color: #115C87;
}

section {
    padding: 3.5rem 7%;
}

.heading {
    color: #6B84C4;
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
    padding: 10px;

}

.header .logo img {
    height: 5rem;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #6B84C4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 0rem;
    border-radius: 0rem;
    position: sticky;
    top: 0%;
    z-index: 1000;

}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border-bottom: 0.1 solid transparent;
}


.header .navbar .active {
    color: #000000;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}

.header .navbar a:hover {
    border-color: var(--black-color);
    padding-bottom: 0.5rem;
}

.header .button button {
    cursor: pointer;
    font-size: 16px;
    margin-left: 2rem;
    background-color: transparent;
}

.about-us {
    text-align: center;
    /* Yazının ortalanması için */
}

.about-us h4 {
    text-transform: uppercase;
    /* Büyük harflerle yazdırmak için */
    font-size: 40px;
    /* Yazı boyutunu ayarlayabilirsiniz */
    color: #FFFFFF;
    font-weight: normal;
    /* Yazı rengini ayarlayabilirsiniz */
}

.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.about-us p {
    font-size: 18px;
    color: #F5F5F5;
    line-height: 1.6;
    font-weight: lighter;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

.header {
    padding: 1.5 2rem;
}

.header .logo img {
    height: 5rem;
}

section {
    padding: 2rem;
}

.product .box-container .box .img {
    font-size: 3.4px;
}


.header .navbar .active {
    right: 3rem;
}

.header .navbar .a {
    color: #FFFFFF;
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 2rem;

}